extends layout

block customStyles
  link(rel="stylesheet", href="/styles/nv.d3.css")

block content
  div.chart
    svg(style="height:500px;")

block customScripts
  script(src="/scripts/require.js", data-main="/scripts/funnelMain.js")

  script
    var steps = !{JSON.stringify(steps)};
