doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/styles/bootstrap.css')
  body
    div.navbar.navbar-inverse.navbar-fixed-top

    div.container

      block content

      ul.errors.unstyled

    script(src='/scripts/require.js', data-main='/scripts/main.js')
