doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/styles/bootstrap.css')
    link(rel='stylesheet', href='/styles/style.css')
    block customStyles
  body
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          block navbar

    div.container

      block content

      ul.errors.unstyled

    block customScripts
