body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.node text {
  pointer-events: none;
}

.node circle {
  fill: #ff7f0e;
  stroke: steelblue;
  pointer-events: all;
  stroke-width: 1.5px;
}

.node circle.sticky {
  fill: #f00;
}

.link {
  stroke: #999;
  fill: none;
  stroke-opacity: .6;
}

path.link {
  stroke-width: 4px;
  cursor: default;
}

path.link.highlight {
  stroke: #f00;
  stroke-width: 4px;
  cursor: default;
}

text {
  font-size: 11px;
  pointer-events: none;
}

text.parent {
  fill: #1f77b4;
}

circle {
  fill: #ccc;
  stroke: #999;
  pointer-events: all;
}

circle.parent {
  fill: #1f77b4;
  fill-opacity: .1;
  stroke: steelblue;
}

circle.parent:hover {
  stroke: #ff7f0e;
  stroke-width: .5px;
}

circle.child {
  pointer-events: none;
}

div.loading-overlay {
  opacity: 0.4;
  background: #000;
  z-index: 2000008020;
  height: 100%;
  position: fixed;
}

div#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 2000008030;
}

.loading-spinner {
  width: 44px;
  height: 44px;
  background: url('../images/loading.gif') center center no-repeat;
}

.client-dashboard .modal-footer .graph-choice {
  float: left;
}
