span.level-one {
	font-size:18px; 
	font-weight: bold;
}

.barcode{
	float: right; 
	padding-top: 0px; 
	margin-left: 5px;	
}
.required{
	color: red;	
	cursor: pointer;
}

table.choice{
	float: right;
	width: 100%; 
}

.display{
	margin-top: 5px;
}

div.choice_content {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center top , #EEEEEE, #BBBBBB) repeat scroll 0 0 transparent;
    border-color: -moz-use-text-color #777777 #777777;
    border-radius: 0 5px 5px 5px;
    border-right: 1px solid #777777;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    float: left;
/*    left: -999em;*/
    margin: 4px auto;
    padding: 10px 5px;
    position: absolute;
    text-align: left;
}

/*checkbox*/
.treeview span.space { padding: 2px 0 5px 20px; display: block; }
span.allowFilters { 
    background: -moz-linear-gradient(center top , #EEEEEE, #BBBBBB) repeat scroll 0 0 transparent;
	border: 1px solid #CCCCCC; 
	display: block; 
	border-radius: 5px; 
	height: 28px;
}

.treeview span.filter { float: right; cursor:pointer;}
/*.treeview span.hasFilters { appearance: button; -moz-appearance:button; float:right; margin-top:-2px; }*/
.treeview span.hasFilters { float: right; border: 1px solid #218ECE; border-style:outset; border-radius: 5px; background:  none repeat scroll 0 0 #218ECE; color: #FFFFFF; opacity:0.8; }
.treeview span.hasFilters span.filter-value { float: left; cursor:pointer; font-size:10px; padding: 2px 2px 1px 5px;}

.treeview .choice_content ul {
	background: inherit;
} 

.treeview .choice_content li { 
	margin: 0;
	padding-left:0px;
	padding-right:50px;
}
